@charset "UTF-8";
/*Variables*/
/*partials*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  color: rgb(140, 25, 25);
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding: 2em;
  color: rgb(7, 14, 53);
  font-weight: bold;
  text-decoration: underline;
  font-family: sans-serif;
}

h3 {
  font-size: 1.5em;
  padding: 2em;
  color: rgb(123, 88, 0);
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*Flex para @extend*/
.d-flex, .dividir, .link, .flex-formu {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/*el body*/
.body-p {
  font-size: 1.5em;
  font-weight: bold;
  padding: 3em;
  /*background-image: url(../imagenes/ambiente.jfif);*/
  background: radial-gradient(circle, rgb(47, 47, 49), rgb(64, 69, 73), rgb(168, 170, 176));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*estilos de contacto*/
/*Pagina*/
.body-contacto {
  padding-bottom: 5em;
  background: radial-gradient(circle, rgb(68, 67, 0), rgb(118, 129, 87), rgb(171, 182, 17));
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
}

li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  padding: 20px;
}

/*Carrusel*/
.yocarrusel {
  margin: 30px auto;
  width: 30%;
}

.tit-carrusel {
  color: rgb(0, 0, 0);
  text-align: center;
  transition: color 0.3s ease;
}
.tit-carrusel:hover {
  color: brown;
}

/*formulario*/
.formu {
  font-size: 2em;
  font-weight: bold;
  padding: 5vh;
}

#tit-form {
  font-size: 2.5em;
  font-weight: bold;
  padding: 10vh;
}

.flex-formu .foot {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: rgb(0, 0, 0);
  background-color: rgb(48, 59, 70);
  align-content: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.link {
  font-family: cursive;
  font-size: 1.5em;
  color: rgb(45, 45, 18);
}

/*logo*/
.lgo {
  background-image: url(../imagenes/alfajor-hierro-b.jpg);
  border: 15px solid white;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.lgo img {
  width: 75%;
}

/*social media*/
#prin {
  margin: 2em;
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ico {
  width: 80px;
}

/*estilos del video*/
.prin1 {
  background-color: gray;
  width: 50%;
  height: 500px;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 20px;
  display: block;
  margin: auto;
}

/*estilos de las imagenes indiduales*/
.pro1 {
  display: block;
  margin: auto;
  width: 70%;
  height: 300px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.pro {
  width: 20em;
  height: 20em;
  border: 5px solid rgb(2, 2, 71);
  border-radius: 10px;
}

/*flex texto e imagen dividir pantalla*/
.dividir {
  padding: 10px;
}

/*mensaje ppal del index*/
#res {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2em;
  margin-top: 3em;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

/*Boton de inicio*/
.borde {
  z-index: 1000;
  position: fixed;
  padding: 5px;
  background-color: rgb(14, 58, 14);
  border: 5px solid rgb(14, 58, 14);
  border-radius: 10px;
  display: inline-block;
  bottom: 0px;
  font-size: 1.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 10px;
}
.borde .borde-a {
  text-decoration: none;
  color: white;
}

/*boton de wsap*/
.wsap {
  z-index: 1000;
  position: fixed;
  padding: 5px;
  bottom: 20px;
  right: 20px;
}

/*diseños nav-cambas*/
.letra {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

/*diseños de grid*/
/*Smaw*/
.grid-img {
  display: grid;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  align-items: center;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vh 30vh 40vh;
  grid-template-areas: "puerta tubo porton porton" "escalas sercha porton porton" "escalas pergola pergola pasamanos";
}
.grid-img img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.puerta {
  grid-area: puerta;
  width: 100%;
  height: 100%;
}

.tubo {
  grid-area: tubo;
  width: 100%;
  height: 100%;
}

.sercha {
  grid-area: sercha;
  width: 100%;
  height: 100%;
}

.pergola {
  grid-area: pergola;
  width: 100%;
  height: 100%;
}

.pasamanos {
  grid-area: pasamanos;
  width: 100%;
  height: 100%;
}

.escalas {
  grid-area: escalas;
  width: 100%;
  height: 100%;
}

.porton {
  grid-area: porton;
  width: 100%;
  height: 100%;
}

/*Mig*/
.grid-container {
  display: grid;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  align-items: center;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vh 40vh 30vh;
  grid-template-areas: "carros puente puente techo" "catapila edificio edificio techo" "catapila edificio edificio robot";
}
.grid-container img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.carros {
  grid-area: carros;
  width: 100%;
  height: 100%;
}

.catapila {
  grid-area: catapila;
  width: 100%;
  height: 100%;
}

.puente {
  grid-area: puente;
  width: 100%;
  height: 100%;
}

.techo {
  grid-area: techo;
  width: 100%;
  height: 100%;
}

.edificio {
  grid-area: edificio;
  width: 100%;
  height: 100%;
}

.robot {
  grid-area: robot;
  width: 100%;
  height: 100%;
}

/*Tig*/
.grid-container2 {
  display: grid;
  gap: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  align-items: center;
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40vh 30vh 30vh;
  grid-template-areas: "tanque tanque tuberia tuberia" "tanque tanque cocina cocina" "tanque tanque cocina cocina";
}
.grid-container2 img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.tanque {
  grid-area: tanque;
  width: 100%;
  height: 100%;
}

.tuberia {
  grid-area: tuberia;
  width: 100%;
  height: 100%;
}

.cocina {
  grid-area: cocina;
  width: 100%;
  height: 100%;
}

/*anuncio de oferta*/
.d1 {
  width: 20%;
  position: relative;
  bottom: 5px;
  left: 20px;
  border-radius: 50%;
}

.d2 {
  width: 20%;
  position: relative;
  top: 15em;
  left: 20em;
  border-radius: 50%;
  animation: scale-down-center 0.6s infinite reverse both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
/*anidacion de las listas*/
.list p {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.list ol li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Media query para mobiles */
@media (max-width: 768px) {
  .body-p {
    background-image: unset;
    background-color: grey;
    font-size: 0.8em;
    color: rgb(16, 11, 11);
    margin-bottom: 10em;
  }
  .pp {
    padding-top: 8em;
  }
  .miacanvas {
    font-size: 8px;
  }
  .tit {
    padding-top: 60px;
  }
  .lgo-r {
    width: 100%;
  }
  .prin1 {
    width: 80%;
    height: 200px;
  }
  .dividir {
    flex-direction: column;
  }
  .wsap {
    bottom: 0;
    right: 0;
  }
  .borde {
    font-size: 1.5em;
  }
  .res-flex {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  .active {
    font-size: 3em;
  }
  .foot {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #tit-form {
    font-size: 2em;
    font-weight: bold;
    padding: 10vh;
  }
  .d1 {
    display: none;
  }
  .d2 {
    top: 5px;
    left: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
