h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    color: rgb(140, 25, 25);
    font-weight: bold;
}
h2{
    font-size: 2em;
    padding: 2em;
    color:rgb(7, 14, 53);
    font-weight: bold;
    text-decoration:underline;
    font-family:sans-serif;
}
h3{
    font-size: 1.5em;
    padding: 2em;
    color:rgb(123, 88, 0);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}