
.body-p {
    background-image: url(./imagenes/lamina\ acero1.jpg);
    padding: 3em;
    font-size: 1.5em;
}
.body-contacto {
   background-color: goldenrod;
}




.lgo{
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;

   
}

/*titulos h1*/
.tit{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    color: rgb(140, 25, 25);
    padding:10%;
    
}
/*social media*/
#prin{
    background-color: blue;
    margin: 2em;
    padding: 10px;
    border: 2px solid black;
    width: 20%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    
}

/*caja del video*/
.prin1{
    background-color: gray;
    width: 50%;  
    height: 500px;
    border: 8px solid black;
    border-radius: 20px;
    display: block;
    margin: auto;
    
}

/*este el de imagenes individuales*/
.pro1{
    display: block;
    margin: auto;
    width:70%;
    height:300px;
    border: 10px solid black;
    border-radius: 20px;
    
}
.pro{
    width: 20em;
    height: 20em;
    border: 5px solid rgb(37, 37, 183);
    border-radius: 10px;
}

/*parte la pantalla de las imagenes individuales*/
.dividir{
    display: flex;
   align-items: center;
   
}
.respon{
    flex-wrap: wrap;
    row-gap:2em;
}
/*titulo ppal del index*/
.res{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2em;
    margin-top: 3em;
    font-size: 1em;
    color: black;
}
/*este es el boton de regreso a inicio*/
.borde{
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    left: 10px;
    text-decoration: none;
    color: rgb(6, 56, 23);
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 100;
}
/*boton de wsap*/
.wsap{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
/*barra de menu*/
.nave{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;  
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(19, 36, 2);
    flex-wrap: wrap;
    gap: 10px;
      
}
/*elementos de la barra*/
.none{
    padding: 5px;
    background-color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight:bold;
    border-radius: 10px;
    
}
.sticky{
    z-index: 1000;
    position: sticky;
    top: 0;
}
/*esta es la clase del off canvas*/
.letra{
    font-size: 1,5em;
    color: antiquewhite;
    font-weight: bold;
}
/*footers*/
.foot{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    background-color: rgb(48, 59, 70);
}
/*titulo de formulario*/
.link{
    font-size: 2em;
    color: rgb(196, 60, 7);
}
/*carrusel*/
.yocarrusel{
   margin: 30px auto ;
   width: 30%;
   margin-bottom: 6em;
}
.tit-carrusel{
    font-size: 3em;
    color: black;
    text-align: center;
}


/*este es  grid de mig */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 25vh 50vh 25vh;
    grid-template-areas: 
           "carros puente puente techo"
           "catapila edificio edificio techo"
           "catapila edificio edificio robot"
    ;  
}
.carros{
    grid-area: carros;
    width: 100%;
    height: 100%
}
.catapila{
    grid-area: catapila;
    width: 100%;
    height: 100%
}
.puente{
    grid-area: puente;
    width: 100%;
    height: 100%
}
.edificio{
    grid-area: edificio;
    width: 100%;
    height: 100%
}
.techo{
    grid-area: techo;
    width: 100%;
    height: 100%
}
.robot{
    grid-area: robot;
    width: 100%;
    height: 100%
}
.grid-container img{
    width: 100%;
    border: 5px solid rgb(66, 18, 18);
    border-radius: 20px;
}
/*grid de imagenes smaw*/
.grid-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh 30vh 40vh;
    grid-template-areas: 
            "puerta tubo porton porton"
            "puerta sercha porton porton"
            "escalas pergola pergola pasamanos"
    ;
}
.puerta{
    
    grid-area: puerta;
    width: 100%;
    height: 100%;
     
}
.tubo{
    grid-area: tubo;
    width: 100%;
    height: 100%;
    
}
.porton{
    grid-area: porton;
    width: 100%;
    height: 100%;
}
.escalas{
    grid-area: escalas;
    width: 100%;
    height: 100%;
}
.sercha{
    grid-area: sercha;
    width: 100%;
    height: 100%;
}
.pergola{
    grid-area: pergola;
    width: 100%;
    height: 100%;
}
.pasamanos{
    grid-area: pasamanos;
    width: 100%;
    height: 100%;
    
}
/*bordo para este grid por cada imagen*/

.grid-img img {
    width: 100%;
    border: 5px solid rgb(6, 6, 39);
    border-radius: 20px;
}
/*este es el grid de tig*/
.grid-container2{   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40vh 30vh 30vh;
    grid-template-areas: 
               "tanque tanque tuberia tuberia"
               "tanque tanque cocina cocina"
               "tanque tanque cocina cocina"                 
    ;
}
.tuberia{
    grid-area: tuberia;
    width: 100%;
    height: 100%;
}
.tanque{
    grid-area: tanque;
    width: 100%;
    height: 100%;
}
.cocina{
    grid-area: cocina;
    width: 100%;
    height: 100%;
}
.grid-container2 img{
    width: 100%;
    border: 5px solid rgb(6, 6, 39);
    border-radius: 20px;
}

/* Media query para mobiles */
@media (min-width: 320px) and (max-width: 768px) {
    .body-p {
        
        background-image: unset;
        background-color: grey;
        font-size: 0.8em;
        color: darkred;
        padding-top: 5em;
    }
    .miacanvas{
        font-size: 8px;
       
    }
    .lgo-r{
        width: 100%;
        
    }
    .prin1{
        width: 80%;
        height: 200px;
    }
    .dividir{
      flex-direction: column;
    }
    .wsap{
        bottom: 0;
        right: 0;
    }
    .borde{
        font-size: 1.5em;
    }
    .res-flex{
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }


}